{
        "mailWebAddress": "https://{{ grommunio__default_host }}/web",
        "chatWebAddress": "https://{{ grommunio__default_host }}/chat",
        "videoWebAddress": "https://{{ grommunio__default_host }}/meet",
        "fileWebAddress": "https://{{ grommunio__default_host }}/files",
        "archiveWebAddress": "https://{{ grommunio__default_host }}/archive"
}
